
# Created by https://www.gitignore.io/api/windows,visualstudiocode
# Edit at https://www.gitignore.io/?templates=windows,visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.gitignore.io/api/windows,visualstudiocode

### Minecraft ###
mods/
logs/
local/
journeymap/
downloads/
crash-reports/
craftpresence/
resourcepacks/
saves/
TombManyGraves/
woot/
backups/
.mixin.out/
screenshots/

usercache.json
usernamecache.json
servers.dat
options.txt
*.dll
crafttweaker.log
*.dat
.ReAuth.cfg
.curseclient
worldSettings.cfg
minecraftinstance.json
config/InvTweaks.cfg
items.csv
fonts/
config/brandon3055/ProjectIntelligence